*{
	box-sizing: border-box;
}


.align-children{
	font-size: 0;
}

.align-children > * {
	display: inline-block;
	vertical-align: top;
	font-size: medium;
}

.title{
	text-align: center;
	font-size: 30px;
}

.nav-container{
	text-align: center; /*centered buttons*/
	margin: auto;
}


#mainContainer{
	/*height: 850px*/;
	max-width: 100%;
	border: 2px solid blue;
	margin: auto;
	
}

.currentForecast{
/*	height: 350px;*/
	max-width: 100%;
	border: 2px solid purple;
	margin: auto;
	text-align: center;
}

.dailyForecast{
	/*height: 350px;*/
	max-width: 35%;
	border: 2px solid green;
	margin: auto;
	text-align: center;

}

.dailyTitle{
	text-align: center;
	font-size: 20px;
}

.hourlyforecast{
	/*height: 350px;*/
	max-width: 35%;
	border: 2px solid yellow;
	margin: auto;
	text-align: center;
}

.hourlyTitle{
	text-align: center;
	font-size: 20px;
}

/* --------button-style------ */

.hourly{ 	/* the button size*/
	text-align: center;
	font-size:18px;
}

.current{ 	/* the button size*/
	text-align: center;
	font-size:18px;
}

.weekly{ 	/* the button size*/
	text-align: center;
	font-size:18px;
}


